#AddType x-httpd-php56 .php
#AddType x-httpd-php7 .php

Options +FollowSymlinks
Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?aftc=$1 [L,QSA]