/*	Base
	I try and only put global styling and main site structure in this file for easy 
	editing / maintenance
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
* { } /* usage of * can put a high load on page processing if you have complex pages */

html, body {
	font-family: Arial, Helvetica, sans-serif;
}

label {
	font-weight: bold;
	display: block;
}

input {
	display: block;
	width: 200px;
}

.xe-notice {

}

/* Structural css (try not to add inner site styling here, makes for easy structural changes)
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */



.content {
	margin-top: 50px;
}

#content_container {
	padding: 10px;
	background: #EEEEEE;
}

#footer {
	font-size: 11px;
	background: #000000;
	color: #FFFFFF;
	margin-top: 20px;
}



/* Bootstrap additions / adjustments */
.btn-float-right {

}
@media (min-width: 768px) {
	.btn-float-right {
		float: right;
	}
}


.col-centered{
	float: none;
	margin: 0 auto;
}

.row{
	margin-top: 0px;
	margin-bottom: 10px
}


.btn-center {
	width: 50%;
	text-align: center;
	margin: inherit;
}

.social-login-btn {
	margin: 5px;
	width: 20%;
	font-size: 250%;
	padding: 0;
}

.social-login-more {
	width: 45%;
}

.social-google {
	background-color: #da573b;
	border-color: #be5238;
}

.social-google:hover {
	background-color: #be5238;
	border-color: #9b4631;
}

.social-twitter {
	background-color: #1daee3;
	border-color: #3997ba;
}

.social-twitter:hover {
	background-color: #3997ba;
	border-color: #347b95;
}

.social-facebook {
	background-color: #4c699e;
	border-color: #47618d;
}

.social-facebook:hover {
	background-color: #47618d;
	border-color: #3c5173;
}

.social-linkedin {
	background-color: #4875B4;
	border-color: #466b99;
}

.social-linkedin:hover {
	background-color: #466b99;
	border-color: #3b5a7c;
}



